<div class="tabs flex-shrink-0 flex items-center w-full h-16 border border-t  text-sm font-medium text-gray-500" > <%# data-turbo-frame='main_content' data-turbo-action='advance' didn't worked here %>
<%# turbo_frame_tag class: 'flex-shrink-0 absolute bottom-0 tabs flex items-center w-full h-16 border border-t  text-sm font-medium text-gray-700', data: { turbo_action: 'advance' } do %>
    <div class="h-full w-1/2">
    <%= link_to cities_path, class: "flex w-full h-full items-center justify-center #{active_tab == :cities ? 'active' : '' }" do %>
        <span class="pointer-events-none">Cities</span>
        <%
        # `layout: 'application'` is explicitly defined in ApplicationController
        #
        # Processing by CitiesController#index as HTML
        # Rendering layout layouts/application.html.erb
        # Rendering states/index.html.erb within layouts/application
        %>
    <% end %>
    </div>
    <div class="border-l h-full w-1/2">
    <%= link_to states_path, class: "flex h-full w-full items-center justify-center #{active_tab == :states ? 'active' : '' }" do %>
        <span class="pointer-events-none">States</span>
        <%
        # `layout: 'application'` is explicitly defined in ApplicationController
        #
        # Processing by StatesController#index as HTML
        # Rendering layout layouts/application.html.erb
        # Rendering states/index.html.erb within layouts/application
        %>
    <% end %>
    </div>
<% #end %>
</div>  