<div class="flex justify-between items-center w-full px-4 h-16 bg-white shadow">
    <div class="flex-shrink-0 flex-grow-0 w-7 h-7 p-2">
        <% if local_assigns[:back_url] %>
            <%= link_to back_url, class: "text-gray-900" do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
            </svg>
            <% end %>
        <% end %>
    </div>
    <div class="flex-grow flex justify-center items-center text-gray-900 text-lg font-medium">
        
        <%= title %>
    </div>
    <div class="flex-shrink-0 flex-grow-0 w-7 h-7 p-2">
    </div>
</div>