<p style="color: green"><%= notice %></p>

  <div class="flex flex-col w-full">
    <h1 class="block text-2xl text-gray-900 font-medium">
      <span>Cities</span>
    </h1>

    <%= render "cities/index/cities_count", count: @cities.count %>

    <div class="mt-4" id="cities_list">
      <% @cities.each do |city| %>
        <%= render 'cities/index/city', city: city %>
      <% end %>
    </div>

    <%= render "cities/index/plus_btn" %>

  </div>
